$govuk-global-styles: true;
$path: "/assets/images/";

$moj-page-width: 1170px;
$govuk-page-width: $moj-page-width;

@import 'govuk/all';
@import 'moj/all';

@import './components/header-bar';
@import './components/hmpps-side-filter';
@import './components/date-picker';
@import 'assets/scss/local';

.panel-header {
  width: 100%;

  div {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .govuk-tag {
    max-width: none;
  }
}

.search-highlight {
  background-color: #ff0;
}
