{% extends "../partials/layout.njk" %}
{%- from "moj/components/search/macro.njk" import mojSearch -%}
{%- from "govuk/components/tag/macro.njk" import govukTag -%}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

{% set pageTitle = applicationName + " - Home" %}
{% set mainClasses = "app-container govuk-body" %}

{% block content %}

  <h1>Case notes</h1>

  <div class="govuk-grid-row">
  <form method='get'>
    <div class="govuk-grid-column-one-quarter app-sidebar">
      {% include '../partials/caseNotesFilter.njk' %}
    </div>

    <div class="govuk-grid-column-three-quarters">
      <h2 class="govuk-heading-m">Search case notes
        {{ govukTag({
          text: "Beta"
        }) }}
      </h2>

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-quarter">
          {{ govukInput({
            label: {
              text: "Prison number",
              classes: "govuk-label"
            },
            id: "prison-number",
            name: "prisonNumber",
            value: queryItems.prisonNumber
          }) }}
        </div>

        <div class="govuk-grid-column-three-quarters">
          <div class='govuk-grid-row'>
            <div class='govuk-grid-column-three-quarters govuk-!-padding-right-0'>
              <div class="govuk-form-group">
                <label class="govuk-label" for="keywords">
                  Keywords or phrase
                </label>
                <input class="govuk-input" id="keywords" name="keywords" type="text" value='{{ queryItems.keywords }}'>
              </div>
            </div>
            <div class='govuk-grid-column-one-quarter '>
              {{ govukButton({
                text: "Search",
                classes: "govuk-!-margin-top-6"
              }) }}
            </div>
          </div>
        </div>
      </div>


      {% if searchResponse %}
          {% for response in searchResponse %}
            <div class="govuk-grid-row">
              <div class="govuk-grid-column-full">
                {{ govukSummaryList({
                  card: {
                    title: {
                      html: '<div>'+ response.authorName +'<br />'+ response.creationDateTime | formatDateTime +
                        '<div><strong class="govuk-tag govuk-tag--red govuk-!-margin-right-3">'+response.typeDescription+'</strong><strong class="govuk-tag">'+response.subTypeDescription+'</strong></div>
                        </div>',
                      classes: "panel-header"
                    }
                  },
                  rows: response | toCaseNoteSummaryList
                }) }}
              </div>
            </div>
          {% endfor %}
      {% endif %}
    </div>
  </form>
  </div>

{% endblock %}